.center{
    width: 30%;
    margin: auto;
    border: 3px solid #2f0751;
    padding: 10px;
}

.input_field{
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 2px solid gray;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.input_field:focus{
    outline: none;
    border-bottom: 2px solid #2f0751;
    height: 35px;
}

label{
    font-size: 100%;
}

.submit{
    width: 100%;
    height: 50px;
    color: #FFF;
    border: none;
    background: #2f0751;
}